@import './style.css';
/* body{
    background-color: var(--recipies-theme-color);
} */

body{
    /* background-color: brown;  */
    /* height: 500px;  */
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Wood_background.jpg')  center center fixed;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; display:flex; justify-content: center;align-items: center;}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 {grid-area: content;}
.item6_1 {grid-area: video;}
.item7 {grid-area: space;}


.grid-container {
  display: grid;
  padding: 40px;
  grid-template-areas:
    'menu header header header space '
    'menu main right right space '
    'menu content content content  space '
    'menu footer video video space ';
  gap: .7em;
 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: justify;
  padding: 10px 15px; 
  font-size: 1rem;
}

.item2{
    background-image: url('/assets/mockup_pag2_01.jpg') ;
    background-repeat: repeat-y;  
}

.item7{
    background-image: url('/assets/mockup_pag2_03.jpg') ;
    background-repeat: repeat-y; 
}

img{
   border-radius: 50%;
    width: 50%;
    
}

.item4>span{
    
    font-weight: 800;  
    font-size: 1.2em; 
}

.item6 span{
    padding-left: 2%;
    font-weight: 800;  
    font-size: 1.2em; 

}

#ingredients{
    background: rgba(255, 255, 255, 0.3);
    
    background-image: url('/assets/basket_ok.png');
    background-size: 70%;
    background-position: right bottom;
    background-repeat: no-repeat;background-blend-mode: lighten;
    border-radius:  5%;
    outline: #bd0c28 5px solid ;
    
    /*outline-offset: 0em;*/
}

#instructions, #preparation{
    
    background: rgb(220,6,10);
    background: linear-gradient(90deg, rgba(185, 25, 51, 0.611) 0%,rgba(255, 255, 255, 0.3) 20%);    
    border-left: 10px solid #bd0c28;;
}

#mealID{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;  
  
    margin-bottom: 2%;
}

#instructions{
    padding: 5% 5%;
    
}

iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }
  p{
    color: #454545;
  }

  p:first-of-type{
    padding-top: 1.5em;
    

  }
