body {
    background-color: black;
}
h1, p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color:antiquewhite;
}

#areas, #categories {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 60%;
    margin-top: 10%;
    margin-left: 25%;
}

#areas div {
    width: 28%;
    background-color: red;
}

#areas div p {
    text-align: center;
}

#areas div:hover, #categories div:hover {
    background-color:blue;
    opacity: 0.4;
}

#areasSection button{
    margin-left: 20%;
}

#categories div {
    width: 40%;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 150%;
}

button[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    margin-left: 10%;
}

form div {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin-left: 15%;
    height: auto;
}

.autocompleteItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    background-color: white;
    flex-direction: column;
}

.autocompleteItems div {
    padding: 10px;
    margin-left: 0%;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocompleteItems div:hover {
    background-color: #e9e9e9;
}

.autocompleteActive {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

@media screen and (min-width: 2560px) {
    #areas {
        width: 50%;
    }
}