body {
    background-color: black;
}
h1, p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color:antiquewhite;
}

#areas, #categories {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 60%;
    margin: auto;
}

#areas div {
    width: 28%;
    background-color: red;
}

#areas div p {
    text-align: center;
}

#areas div:hover, #categories div:hover {
    background-color:blue;
    opacity: 0.4;
}

#areasSection button{
    margin-left: 20%;
}

#categories div {
    width: 40%;
}

@media screen and (min-width: 2560px) {
    #areas {
        width: 50%;
    }
}