:root{
    --theme-color:white; 
    --primary-color:#124f88;
    --secondary-color:#f7c331;
    --text-color-inverse:white;
    --text-color:black;
    --navbar-shallow-color:#e5e5e5;
    --menu-mobile-background-color:#3a4460;
    
 
 }

 #areas, #categories {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content:space-around;
    width: 60%;
    margin-top: 10%;
    margin-left: 25%;
}

#areas div {
    width: 28%;
    background-color: red;
}

#areas div p {
    text-align: center;
}

#areas div:hover, #categories div:hover {
    background-color:blue;
    opacity: 0.4;
}

#areasSection button{
    margin-left: 20%;
}

#categories div {
    width: 40%;
}

body {
    background-color: var(--theme-color);
}

button[type=button] {
    background-color: DodgerBlue;
    color: #fff;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: var(--text-color);
}
p{
    color:antiquewhite;
}

a{
    color:antiquewhite;
}

.test{
    height: 35rem;
    background: url('/assets/web_image_01.jpg') no-repeat center center ;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    background-position: 0 0;  
}

.test2{
    width: 50%;
}

footer{
   
    margin-top: 20%;
    width: 100%;
    height: 15rem;
    background: url('/assets/footer_03_04.jpg') no-repeat center center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    background-position: bottom;  
    background-color: #782e32;
    
}

form{
    margin-left: 10%;
}

form div {
    display: flex;
    flex-direction: row;
    height: auto;
}

.autocompleteItems {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    background-color: white;
    flex-direction: column;
}

.autocompleteItems div {
    padding: 10px;
    margin-left: 0%;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocompleteItems div:hover {
    background-color: #e9e9e9;
}

.autocompleteActive {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

@media screen and (min-width: 2560px) {
    #areas {
        width: 50%;
    }
}