:root{
    --theme-color:white; 
    --primary-color:#124f88;
    --secondary-color:#f7c331;
    --text-color-inverse:white;
    --text-color:black;
    --navbar-shallow-color:#e5e5e5;
    --menu-mobile-background-color:#3a4460;
    
 
 }

body {
    background-color: var(--theme-color);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: var(--text-color);
}
p{
    color:antiquewhite;
}

a{
    color:antiquewhite;
}

.test{
    height: 35rem;
    background: url('/assets/web_image_01.jpg') no-repeat center center ;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    background-position: 0 0;  
}

.test2{
    width: 50%;
}

footer{
   
    margin-top: 20%;
    width: 100%;
    height: 15rem;
    background: url('/assets/footer_03_04.jpg') no-repeat center center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    background-position: bottom;  
    background-color: #782e32;
    
}

